// haku-control-setup.exe: icon, version info and the packed program (obj\payload.bin from scripts\pack.ps1).
#include <windows.h>
#include "version.h"

1 ICON "app.ico"
PAYLOAD RCDATA "..\\obj\\payload.bin"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION HAKU_VER_NUM
 PRODUCTVERSION HAKU_VER_NUM
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904b0"
    BEGIN
      VALUE "CompanyName", "haku"
      VALUE "FileDescription", "haku control setup"
      VALUE "ProductName", "haku control"
      VALUE "LegalCopyright", "MIT License"
      VALUE "FileVersion", HAKU_VER_STR
      VALUE "ProductVersion", HAKU_VER_STR
      VALUE "OriginalFilename", "haku-control-setup.exe"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1200
  END
END
